{% extends "base.html.twig" %} 
{% block title %}My homepage{% endblock %}
{% block body %}
 <header>
    <h1>Замятин Алексей</h1>
 </header>
 <article> 
   <h2>О себе</h2> 
   <p>
     В 2020 году закончил СОШ №7, получив среднее образование. Я долго думал, 
     куда поступать и по рекомендациям знакомых выбрал ПС. Программирование 
     заинтересовало меня ещё в школе, но серьёзно изучать его я начал только с 
     поступлением в Политех. 
   </p> 
   <h2>Достижения</h2>
   <ul>
     <li>Общее среднее образование</li>
     <li>Аттестат с отличием</li>
     <li>Участие в региональных олимпиадах по информатике</li>
   </ul>
   <img src="{{ asset('images/photo.jpg') }}", alt= "Замятин Алексей"> 
   <h2>Хобби</h2>
   <p>Моё основное хобби - настольная игра с миниатюрами warhammer 40.000.</p>
   <h3>Она совмещает</h3>
   <ul>
     <li>сборку и покраску миниатюр</li>
     <li>чтение художественной литературы по игровой вселенной</li>
     <li>самy настольную тактическую игру</li>
   </ul>

     <div>
       {% for theme in hobbies %}
       <p> {{ theme.title }}</p>
            {% for image in theme.images %}
                <img src="{{ image }}" alt="my__hobby">
            {% endfor%}
            <div class="clear"></div>
    {% endfor%}
    </div>
    
 </article>
{% endblock %}
